ENVIRONMENT="dev"
DATABASE_HOST=seu_servidor_de_banco_de_dados
DATABASE_PORT=sua_porta_de_banco_de_dados
DATABASE_NAME=seu_nome_de_banco_de_dados
DATABASE_USERNAME=seu_usuario_de_banco_de_dados
DATABASE_PASSWORD=sua_senha_de_banco_de_dados
FERNET_SECRET_KEY="key"
HMAC_SECRET_KEY="key"
DIRECTOR_JWT_SECRET="director_jwt_secret"
SENDGRID_API_KEY="api_key"
APPRAISER_JWT_SECRET="appraiser_jwt_secret"
CANDIDATE_JWT_SECRET="candidate_jwt_secret"
